body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(https://i.ibb.co/8X9GJYf/school-kid-playing-quiz-game-answering-question-standing-stand-button-boy-pressed-buzzer-first-raise.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #da0b0b;
    text-align: center;
}

.game-description {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

#start-game-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#start-game-button:hover {
    background-color: #45a049;
}

#game-area {
    text-align: center;
    display: none;
    margin-top: 20px;
}

#buzzer {
    padding: 10px 20px;
    background-color: #f44336;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#buzzer:hover {
    background-color: #d32f2f;
}

#result {
    margin-top: 20px;
    color: #1409ed;
    font-size: 18px;
}

#line1 {
    color: #d32f2f;
    font-weight: bolder;
}